name: Backend Deployment
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2 #Clones codebase to ubuntu machine

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME  }}
          password: ${{ secrets.DOCKERHUB_TOKEN  }}
           
      - name: Build and push # Builds and pushes the dockerfile to Dockerhub
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Docker/Dockerfile.Backend
          push: true
          tags: /basic-monorepo/monorepo-backend:${{ github.sha  }}